.NavBar-link {
    /* padding: var(--s) var(--m); */
    color: gray;
    text-decoration: none;
    font-size: 30px;
}

.NavBar-container {
    position: relative;
    height: 7vh;
    background-color: aqua;
    display: block;
}
