.NavBar-link {
    /* padding: var(--s) var(--m); */
    /* color: gray; */
    text-decoration: none;
    font-size: 18px;
}

.NavBar-container {
    position: relative;
    height: 7vh;
    background-color: rgb(0, 0, 26);
    display: block;
}
